ToDo.Web/Connected Services/ToDoReference/TodoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ToDo.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ToDo.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTasks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tasks" nillable="true" type="tns:Tasks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTasks" nillable="true" type="tns:ArrayOfTasks" />
  <xs:complexType name="Tasks">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tasks" nillable="true" type="tns:Tasks" />
</xs:schema>